html, body {
	margin: 0 !important;
	padding: 0 !important;
}

body {
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	background: #9e675a;
}

header { 
	text-align: center;
	height: 15%;
	background: #79e0dc;
	
	overflow: hidden;
	
}

header h1 {
	height: 100%;
	margin: 0;
	font-size: 10vh;
	font-weight: bolder;
	margin-top: calc(15vh / 2 - 10vh / 2);
}

main {
	display: flex;
	height: 85%;
	max-height: 85%;
	background: #8cecf7;
	overflow:hidden;
	flex-wrap: nowrap;
}

main nav {
	width: 20%;
	background: #79e0dc;
	overflow:hidden;
	display: grid;
	position: relative;
	grid-template-columns: 90% auto;
	transition: transform 2s;
}

main section {
	width: auto;
	min-width: calc(100% - 20% - 15%);
	max-width: 100%;
	width: 100%;
}

main section article {
	background: white;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

main section article h3 {
	width: 100%;
	text-align: center;
}

main section article div {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
}

main section article div input {
	
}

main section article div button {
	width: 50%;
	height: 45px;
	margin-left: auto;
	margin-right: auto;
}


main section article div#odpowiedz {
	text-align: center;
	width: 100%;
}

main aside {
	display: none;
	width: 15%;
	background: #79e0dc;
}

main nav div {
	grid-row: 1;
	grid-column: 1;
}

main nav div.button {
		grid-column: 2;
		background: #9e675a;
		color: white;
		font-weight: bold;
		font-size: 2em;
		text-align: center;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: pointer;
		transition: opacity 0.5s;
}

main nav div.button p {
	transition: transform 2s;
}

main nav div.button:hover {
	opacity: 0.7;
}

main nav div.button p {
	margin: 0;
	position: relative;
	top: calc(85vh / 2 - 2em / 2);
}